{% extends 'base.html' %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
{% include './includes/nav.html'%}

<div class="about-container">

    <h2 class="about-header">About Trainer Temple</h2>

    <section class="about-section">
        <h3>Introduction</h3>
        <p>Welcome to Trainer Temple, the ultimate destination for Pokémon team building and battling. Here, we bring together users from around the world for exhilarating battles and much more.</p>
    </section>

    <section class="about-section">
        <h3>History</h3>
        <p>Founded in 2023, by Thieves-126, our platform has evolved immensely from its humble beginnings to the vast community we have today.</p>
    </section>

    <section class="about-section">
        <h3>Mission & Vision</h3>
        <p>Our mission is to encourage fun and safe Pokémon battles and every feature on our platform takes us a step closer to that dream.</p>
    </section>

    <section class="about-section">
        <h3>Features & Highlights</h3>
        <ul>
            <li>Pokémon Search: Enter the name of a known Pokémon to search and view its stats</li>
            <li>Discover Pokémon! Displays a random selection of Pokémon from the database</li>
            <li>Battle Feature: Dive into the arena and challenge users to intense battles.</li>
            <li>Leaderboards: Rise to the top and claim your position among the elites.</li>
            <!-- Add more features as needed -->
        </ul>
    </section>

    <section class="about-section">
        <h3>Meet the Team</h3>
        <p>Our dedicated team of developers, designers, and enthusiasts have poured their heart and soul into making Trainer Temple a welcoming and thrilling space for all.</p>
    </section>

    <section class="about-section">
        <h3>Contact</h3>
        <p>Got questions or suggestions? We'd love to hear from you! Reach out to us at <a href="mailto:info@trainertemple.com">info@trainertemple.com</a>.</p>
    </section>

</div>

{% endblock %}
