{% extends 'base.html' %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block title %}
    Pokédex Search
{% endblock %}

{% block content %}
{% include './includes/nav.html'%}

    <h1 class="pokedex-h1">Welcome to the Pokémon Search Tool!</h1>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/poke-logo.jpg') }}" class="pokedex-img">
    </div>
    <i><h2 class="pokedex-h2">Please navigate to the Search menu to discover Pokémon.</h2></i>

{% endblock %}

