* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    font-family: 'Handjet', cursive;
}

/* light green color used around the app */
/* rgb(198, 224, 198) */ 

body {
    height: 100%;
    background-color: rgb(68, 77, 87);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navigation {
    background-color: rgb(40, 40, 40);
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    max-width: 60%;
}

.menu-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-left {
    flex-direction: row;
    margin: 0 5px;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu-right {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    padding: 5px, 10px;
    letter-spacing: 0.5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu a {
    color: rgb(106, 174, 106);
}

.menu a:hover {
    background-color: rgb(106, 174, 106, 0.3);
    border-radius: 5px;
}

.home-item {
    position: relative;
    left: -20px;
}

.home-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: -60px;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 8cap;
    z-index: 1050;
}