
.pokedex-h1 {
    color: rgb(198, 224, 198);
    margin-top: 50px;
    text-align: center;
}

.pokedex-h2 {
    color: rgb(198, 224, 198);
    margin-top: 10px;
    text-align: center;
    
}

.logo-container {
    text-align: center;
    margin-top: 70px;
}

.pokedex-img {
    width: 700px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}