h2 {
    text-align: center;
    color: rgb(198, 224, 198);
    padding-bottom: 50px;
    padding-top: 25px;
}

h3 {
    text-align: center;
    color: lightcoral;
    padding-bottom: 50px;
    padding-top: 25px;
}

.team-container {
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    justify-content: center;
}

.cards-grid-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(230px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
}

.pokemon-card {
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s;
    
}

.pokemon-card:hover {
    transform: translateY(-10px);
}

.pokemon-image-container {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    background-color: #e0e0e0;
    margin-bottom: 1em;
}

.pokemon-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pokemon-details {
    text-align: center;
}

.release-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1em;
}

.remove-btn:hover {
    background-color: #c0392b;
}

.pokemon-name {
    margin-bottom: -20px;
    text-align: center;
    color: rgb(68, 77, 87)
}