{% extends "base.html" %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/battle_arena.css') }}">
{% endblock %}

{% block title %}
    Pokémon Battle!
{% endblock %}

{% block content %}
{% include './includes/nav.html'%}

    <div class="battle-container">
        <div class="player-section attacker-section">
            <h2>{{ attacker.username }}</h2>
        
            <div class="player attacker">
                <h3>{{ attacker_pokemon.name|title }}</h3>
                <img src="{{ attacker_pokemon.sprite_url }}" alt="{{ attacker_pokemon.name }}">
                <div class="hp-bar">
                    <div class="current-hp attacker-hp"></div>
                </div>
                <p id="attacker-hp-text">HP: {{ attacker_pokemon.hp_base }}/{{ attacker_pokemon.hp_base }}</p>
                <p>Attack: {{ attacker_pokemon.atk_base }}</p>
                <p>Defense: {{ attacker_pokemon.def_base }}</p>
            </div>
        </div>

        <div class="vs-text">vs</div>

        <div class="player-section defender-section">
            <h2>{{ defender.username }}</h2>
        
            <div class="player defender">
                <h3>{{ defender_pokemon.name|title }}</h3>
                <img src="{{ defender_pokemon.sprite_url }}" alt="{{ defender_pokemon.name }}">
                <div class="hp-bar">
                    <div class="current-hp defender-hp"></div>
                </div>
                <p id="defender-hp-text">HP: {{ defender_pokemon.hp_base }}/{{ defender_pokemon.hp_base }}</p>
                <p>Attack: {{ defender_pokemon.atk_base }}</p>
                <p>Defense: {{ defender_pokemon.def_base }}</p>
            </div>
        </div>
    </div>
    <div id="battle-message" class="battle-message"></div>

    <div class="buttons-container">
        <button id="fight-button" class="btn btn-success">Attack</button>
        <button id="next-battle-button" class="btn btn-primary">Next Battle</button>
        <a href="{{ url_for('poke.battle_select') }}" class="btn btn-danger">Exit Battle</a>
    </div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const fightButton = document.getElementById('fight-button');
        const nextBattleButton = document.getElementById('next-battle-button');
        const attackerHPText = document.getElementById('attacker-hp-text');
        const defenderHPText = document.getElementById('defender-hp-text');
        const attackerHPBar = document.querySelector('.attacker-hp');
        const defenderHPBar = document.querySelector('.defender-hp');
    
        let attackerBaseHP = {{ attacker_pokemon.hp_base }};
        let defenderBaseHP = {{ defender_pokemon.hp_base }};
        let attackerCurrentHP = attackerBaseHP;
        let defenderCurrentHP = defenderBaseHP;
    
        fightButton.addEventListener('click', function() {
            fetch('{{ url_for("poke.battle_fight", defender_id=defender.id) }}', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);  // Log the data for debugging purposes
                console.log("Before Damage: Attacker HP:", attackerCurrentHP, "Defender HP:", defenderCurrentHP);
        
                // Directly use the returned HP values
                attackerCurrentHP = data.attacker_hp;
                defenderCurrentHP = data.defender_hp;
    
                console.log("After Damage: Attacker HP:", attackerCurrentHP, "Defender HP:", defenderCurrentHP);
    
                updateHPBar(attackerHPBar, attackerCurrentHP, attackerBaseHP);
                updateHPBar(defenderHPBar, defenderCurrentHP, defenderBaseHP);
                attackerHPText.innerText = `HP: ${Math.max(0, attackerCurrentHP)}/${attackerBaseHP}`;
                defenderHPText.innerText = `HP: ${Math.max(0, defenderCurrentHP)}/${defenderBaseHP}`;

                let battleMessageElement = document.getElementById('battle-message');
                battleMessageElement.textContent = data.fast_pokemon_message + " " + data.slow_pokemon_message;

                battleMessageElement.style.opacity = 1;

                setTimeout(() => {
                    battleMessageElement.style.opacity = 0;
                }, 7000);
    
                if ( attackerCurrentHP <= 0 || defenderCurrentHP <= 0) {
                    fightButton.disabled = true;
                    nextBattleButton.disabled = false;
                }                
            })
            .catch(error => {
                console.error("Error during the fight:", error);
                fightButton.disabled = false;
            });
        });
    
        nextBattleButton.addEventListener('click', function() {
            let defeatedPlayer = attackerCurrentHP <= 0 ? 'attacker' : 'defender';
        
            console.log("Next Battle Button clicked. Defeated Player:", defeatedPlayer);
        
            fetch('{{ url_for("poke.next_battle", defender_id=defender.id) }}', {
                method: 'POST',
                body: new URLSearchParams({ defeated_player: defeatedPlayer })
            })
            .then(response => {
                if (!response.ok) {
                    console.error("Response not OK:", response.statusText);
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                if (!response.headers.get('Content-Type').startsWith('application/json')) {
                    console.error("Response Content Type:", response.headers.get('Content-Type'));
                    throw new Error('Received content is not JSON');
                } 
                return response.json();
            })
            .then(data => {
                console.log("Received Data:", data);  // Log the received data
        
                if (data.battle_ended) {
                    console.log("Battle series ended. Redirecting to battle summary.");
                    document.getElementById('battle-message').textContent = 'Battle series has ended!';
                    nextBattleButton.disabled = true;
                    window.location.href = '{{ url_for("poke.battle_summary", defender_id=defender_id) }}';
                    return;  // Return early since battle series has ended
                } 
        
                if (data.has_next) {
                    console.log("There is a next battle.");
                    fightButton.disabled = false;
                    nextBattleButton.disabled = true;
        
                    // Update the UI with the next Pokémon's details
                    if (defeatedPlayer == 'attacker') {
                        document.querySelector('.player.attacker img').src = data.sprite_url;
                        document.querySelector('.player.attacker h3').textContent = data.name;
                        updateHPBar(attackerHPBar, data.hp_base, data.hp_base);
                        attackerHPText.innerText = `HP: ${data.hp_base}/${data.hp_base}`;
                        attackerCurrentHP = data.hp_base;
                        attackerBaseHP = data.hp_base;
                    } else {
                        document.querySelector('.player.defender img').src = data.sprite_url;
                        document.querySelector('.player.defender h3').textContent = data.name;
                        updateHPBar(defenderHPBar, data.hp_base, data.hp_base);
                        defenderHPText.innerText = `HP: ${data.hp_base}/${data.hp_base}`;
                        defenderCurrentHP = data.hp_base;
                        defenderBaseHP = data.hp_base;
                    }                    
                } else {
                    document.getElementById('battle-message').textContent = 'No more Pokémon! Proceed to the next battle.';
                    nextBattleButton.disabled = true;
                }
            })
            .catch(error => {
                console.error("Error transitioning to the next battle:", error);
            });
        });
    
        function updateHPBar(hpElement, currentHP, maxHP) {
            let percentage = (currentHP / maxHP) * 100;
            hpElement.style.width = percentage + '%';
    
            if (percentage > 50) {
                hpElement.style.backgroundColor = 'green';
            } else if (percentage > 20) {
                hpElement.style.backgroundColor = 'yellow';
            } else if (percentage <= 0) {
                hpElement.style.backgroundColor = 'transparent';
            } else {
                hpElement.style.backgroundColor = 'red';
            }
    
            let hpValueElement = hpElement.parentElement.nextElementSibling;
            hpValueElement.textContent = Math.max(0, currentHP) + '/' + maxHP;
        }
    });
    
</script>

{% endblock %}

