{% extends 'base.html' %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/discover.css') }}">
{% endblock %}

{% block title %}
    Random Pokémon
{% endblock %}

{% block content %}
{% include './includes/nav.html'%}

    <div class="showcase-container">
        <h2>Random Pokémon Selection</h2>
        <div class="showcase-poke-flex">

        {% for pokemon in poke_list %}
            <div class="pokemon-card">
                <div class="name-and-image">
                    <img src="{{ pokemon.sprite_url }}" alt="{{ pokemon.name }}" class="pokemon-image">
                    <h3 class="pokemon-name">{{ pokemon.name }}</h3>
                </div>
                
                <div class="stats-details">
                    <div class="ability-exp">
                        <p>Main Ability: {{ pokemon.main_ability }}</p>
                        <p>HP Base: {{ pokemon.hp_base }}</p>
                    </div>
                    <div class="base-stats">
                        <p>ATK Base: {{ pokemon.atk_base }}</p>
                        <p>DEF Base: {{ pokemon.def_base }}</p>
                        <p>SP Atk: {{ pokemon.sp_atk }}</p>
                        <p>SP Def: {{ pokemon.sp_def }}</p>
                        <p>Speed: {{ pokemon.speed }}</p>
                    </div>
                </div>                
                
                <div class="btn-wrapper">
                    <form method="POST" action={{ url_for('poke.discover') }}>
                        {{ add_form.hidden_tag() }}
                        {{ add_form.pokemon_name(value=pokemon.name, type="hidden") }}
                        {{ add_form.add_to_team(class='catch-btn', value="Catch Pokémon") }}
                    </form>
                    <a href="https://www.serebii.net/pokedex-swsh/{{ pokemon.name.lower() }}/" target="_blank">
                        <button class="serebii-btn">View Details</button>
                    </a>
                </div>
        </div>
        {% endfor %}
        </div>
    </div>
    
{% endblock %}
