{% extends 'base.html' %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/myteam.css') }}">
{% endblock %}

{% block title %}
  My Team
{% endblock %}

{% include './includes/nav.html'%}

{% block content %}
<div class="team-container">
    <h2>My Team</h2>

    {% if team.pokemons.count() == 0 %}
        <h3>You haven't caught any Pokémon!</h3>
    {% endif %}
    
<div class="cards-grid-wrapper">
    <div class="cards-grid">

        {% for pokemon in team.pokemons.all() %}
        <div class="pokemon-card">
            <h3 class="pokemon-name">{{ pokemon.name|title }}</h3>
            <div class="pokemon-image-container">
                <img src="{{ pokemon.sprite_url }}" alt="{{ pokemon.name }}" class="pokemon-image">
            </div>
            <div class="pokemon-details">
                <!-- <p>Main Ability: {{ pokemon.main_ability }}</p>
                <p>HP Base: {{ pokemon.hp_base }}</p>
                <p>ATK Base: {{ pokemon.atk_base }}</p>
                <p>DEF Base: {{ pokemon.def_base }}</p> -->

                <form action="{{ url_for('poke.remove_from_team', pokemon_id=pokemon.id) }}" method="post">
                    <button type="submit" class="release-btn">Release</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
</div>
{% endblock %}