<nav class="navigation">
    <ul class="menu">
        <li><a href="{{ url_for('main.home') }}">Pokédex</a></li>
        <li><a href="{{ url_for('main.about') }}">About</a></li>
        <li><a href="{{ url_for('poke.search') }}">Search</a></li>
        <li><a href="{{ url_for('poke.discover') }}">Discover</a></li>
        
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('poke.myteam') }}">My Team</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
        {% endif %}
    </ul>
</nav>

<!-- d-flex justify-content-between -->